<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Ironhack:
    <p>Teresa y Adrián</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->