{{> navBar}}
<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-4">

            <h1>{{siteTitle}}</h1>
            <p>Tu App para ponerte en forma</p>

        </div>
    </div>
</div>


<div class="container">

    <h1>{{name}}</h1>

    <hr>

    <div class="row justify-content-around">

        <div class="col-md-4 details-text">

            <h3>Crea tus entrenamientos</h3>

            <figure>
                <img class="index-img" src="images/portada1.jpeg" alt="">
            </figure>

            <a href="/entrenamientos/crear-entrenamiento" class="btn btn-dark index-button">Crea aquí</a>

        </div>

        <div class="col-md-4 details-text">

            <h3 class="index-h3-1">Guarda tus favoritos</h3>

            <figure>
                <img class="index-img" src="images/portada2.jpeg" alt="">
            </figure>

            <a href="/entrenamientos" class="btn btn-dark index-button">Elige el tuyo</a> {{!--Falta el enrutado --}}

        </div>

        <div class="col-md-4 details-text">

            <h3 class="index-h3">Crea tu perfil y comienza</h3>

            <figure>
                <img class="index-img" src="images/portada7.jpeg" alt="">
            </figure>

            <a href="/registro" class="btn btn-dark index-button">¡Regístrate!</a>

        </div>
    </div>


    <hr>



</div>
{{> footer}}