{{> navBar}}
<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h1>Crear nuevo entrenamiento</h1>

            <form method="POST" action="/entrenamientos/crear-entrenamiento" enctype="multipart/form-data">
              
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea type="text" class="form-control" name="description" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="exercise-list">Lugar:</label>
                    <select name="type" class="form-control" id="type-list">
                        <option>Seleccionar</option>
                        <option>Al aire libre</option>
                        <option>En casa</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Duración</label>
                    <input type="number" class="form-control" name="duration">
                    <small class="form-text text-muted">Unidad de medida: minutos (mínimo 15).</small>
                </div>
                <div class="form-group">
                    <label>Número de ejercicios</label>
                    <input type="text" class="form-control" name="exercisesNumber">
                </div>
                <div class="form-group">
                    <label for="exercise-list">Zona a trabajar:</label>
                    <select name="exercises" class="form-control" id="exercise-list">
                        <option>Seleccionar</option>
                        <option>Pecho</option>
                        <option>Espalda</option>
                        <option>Brazos</option>
                        <option>Piernas</option>
                        <option>Abdomen</option>
                        <option>Cardio</option>

                    </select>
                </div>
                <div class='form-group'>
                    <label for="exercise-list">Imagen del ejercicio:</label>
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="custom-file-lang" lang="es">
                        <label class="custom-file-label" for="custom-file-lang">Seleccionar imagen</label>
                    </div>
                    <button type="submit" class="btn btn-dark create-button">Crear nuevo entrenamiento</button>
            </form>
        </div>
    </div>



</div>
{{> footer}}