body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  background-image: url(../images/fondo1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // max-width: 100%; a la etiqueta html
  
}

h1, h2, h3 {
  font-weight: 100;
}

.navbar {
  margin-bottom: 30px;
}


.details-text {
  padding-top: 15px;
}

.details-img {
  height: 500px;
  object-fit: cover;
  width: 700px;
}

.details-border {
  width: 30%;
  margin-right: 520px;
}

.create-button {
  margin-top: 20px;
}

.logout-button {
  margin-top: 30px;
}

.profile-img {
  height: 300px;
}

.index-img {
  height: 450px;
  object-fit: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
}

.index-h3 {
  margin-right: 20px;
}

.index-h3-1 {
  margin-left: 30px;
}

.index-button {
  margin-left: 100px;
}

#trainingsMap {
  height: 700px;
  width: 900px;
  background-color: rgb(104, 97, 97);
  margin-top: 40px;
}

.footer {
  font-size: 0.7em;
  color: rgb(104, 97, 97);
  margin-top: 30px;
  
}

.col-md-6 {
  margin-top: 70px;
}

.trainings-list {
  list-style: none;
}

.fav-img {
  height: 200px;
  object-fit: cover;
  width: 200px;
}

h1 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 4em;
}

.index-subtitle {
  margin-left: 60px;
}















